* {
  padding: 0;
  margin: 0;
  color: #000000c2;
  font-family: "Mochiy Pop One", sans-serif;
}

body {
  background-color: white;
}

p {
  line-height: 2rem;
}
@media all and (max-width: 500px) {
  p {
    font-size: 12px;
  }
}

.navbar {
  z-index: 100;
  box-shadow: 3px 1px 9px 0rem #48494a5c;
}
.navbar .navbar-toggler {
  border: none;
}
.navbar #navbarSupportedContent form {
  width: 250px;
}
.navbar #navbarSupportedContent form .form-control, .navbar #navbarSupportedContent form .form-control:focus {
  color: #21252994;
  background-color: rgba(255, 255, 255, 0.432);
  border-color: #21252994;
  outline: 0;
  box-shadow: 3px 5px 9px 0rem #48494a5c;
}
.navbar #navbarSupportedContent form .btn-secondary {
  color: #ffffffbf;
  background-color: #5c636a;
  font-size: 14px;
}
.navbar #navbarSupportedContent form .btn-secondary:hover {
  color: #181d1c;
  background-color: #e69699;
}
.navbar #navbarSupportedContent .navbar-nav .nav-link {
  padding-right: 1.5rem;
  padding-left: 1.5rem;
}
.navbar .img-banner {
  background-image: url(../images/book.svg);
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
}

.list-reading-books {
  align-items: center;
}
.list-reading-books h3 {
  margin-bottom: 1.5rem;
  font-size: 1.25rem;
  font-weight: bold;
}
@media all and (max-width: 900px) {
  .list-reading-books h3 {
    font-size: 1rem;
    line-height: 2rem;
  }
}
.list-reading-books p {
  line-height: 3;
  margin-bottom: 3rem;
  margin-top: 20px;
}
.list-reading-books .img-readingbooks {
  justify-content: center;
  display: flex;
}
.list-reading-books .img-readingbooks .slide-in-fwd-center {
  -webkit-animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
          animation: slide-in-fwd-center 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.list-reading-books .twobooks {
  max-height: 700px;
}

.carousel-desktop #carouselExampleCaptions {
  padding-top: 120px;
}
.carousel-desktop #carouselExampleCaptions .carousel-caption {
  text-align: start;
  bottom: 0.25rem;
}
.carousel-desktop #carouselExampleCaptions .carousel-caption p, .carousel-desktop #carouselExampleCaptions .carousel-caption h5 {
  color: #edededd9;
  font-weight: normal;
}
.carousel-desktop #carouselExampleCaptions .carousel-item {
  max-height: 500px;
}
.carousel-desktop #carouselExampleCaptions .carousel-item img {
  display: block;
  width: 100%;
}
.carousel-desktop #carouselExampleCaptions .carousel-item div {
  font-weight: bold;
}
@media all and (max-width: 1500px) {
  .carousel-desktop #carouselExampleCaptions .carousel-item {
    max-height: 400px;
  }
}
@media all and (max-width: 1200px) {
  .carousel-desktop #carouselExampleCaptions .carousel-item {
    max-height: 300px;
  }
}
@media all and (max-width: 900px) {
  .carousel-desktop #carouselExampleCaptions .carousel-item {
    max-height: 200px;
  }
}
.carousel-desktop .carousel-control-next, .carousel-desktop .carousel-control-prev {
  top: 100px;
}
.carousel-desktop .opacity-carousel {
  background: #181d1c;
}
.carousel-desktop .opacity-carousel img {
  opacity: 0.5;
}

.carousel-responsive #carouselExampleCaptionsResponsive {
  padding-top: 120px;
}
.carousel-responsive #carouselExampleCaptionsResponsive .carousel-caption {
  bottom: 2.25rem;
  text-align: start;
}
.carousel-responsive #carouselExampleCaptionsResponsive .carousel-caption p, .carousel-responsive #carouselExampleCaptionsResponsive .carousel-caption h5 {
  color: #edededd9;
  font-weight: normal;
}
.carousel-responsive #carouselExampleCaptionsResponsive .carousel-item {
  max-height: 500px;
}
.carousel-responsive #carouselExampleCaptionsResponsive .carousel-item img {
  width: 100%;
}
@media all and (max-width: 480px) {
  .carousel-responsive #carouselExampleCaptionsResponsive .carousel-item {
    max-height: 400px;
  }
}
.carousel-responsive .carousel-control-next, .carousel-responsive .carousel-control-prev {
  top: 100px;
}
.carousel-responsive .opacity-carousel {
  background: #181d1c;
}
.carousel-responsive .opacity-carousel img {
  opacity: 0.5;
}

.anima {
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
}

.container-video iframe {
  height: 500px;
  width: -webkit-fill-available;
}
@media all and (max-width: 480px) {
  .container-video iframe {
    height: 300px;
  }
}
.container-video .title-container {
  font-size: 30px;
  font-weight: 800;
  text-shadow: -1px 0px 0 #d1d1d1;
}
@media all and (max-width: 480px) {
  .container-video .title-container {
    font-size: 18px;
  }
}
.container-video .text-container-video {
  font-size: 1.25rem;
  line-height: 2.5rem;
}
@media all and (max-width: 1200px) {
  .container-video .text-container-video {
    font-size: 16px;
  }
}
@media all and (max-width: 767px) {
  .container-video .text-container-video {
    margin-top: 30px;
  }
}
@media all and (max-width: 480px) {
  .container-video .text-container-video {
    font-size: 14px;
  }
}

.padding-section {
  padding-top: 180px;
}

.row-header-bestsellers img {
  max-width: 300px;
  border-radius: 2%;
}
.row-header-bestsellers h3 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}
@media all and (max-width: 767px) {
  .row-header-bestsellers h3 {
    font-size: 1rem;
  }
}
@media all and (max-width: 480px) {
  .row-header-bestsellers h3 {
    font-size: 14px;
  }
}
@media all and (max-width: 767px) {
  .row-header-bestsellers p {
    font-size: 12px;
  }
}

.description {
  margin-top: 3rem;
}
@media all and (max-width: 480px) {
  .description {
    font-size: 14px;
  }
}
.description h3 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2rem;
}
.description li {
  line-height: 2rem;
}

.title__bestsellers {
  font-size: 30px;
  font-weight: 800;
  text-shadow: -1px 0px 0 #d1d1d1;
  margin-bottom: 2rem;
  justify-content: center;
  display: flex;
  line-height: 2rem;
}
@media all and (max-width: 480px) {
  .title__bestsellers {
    font-size: 18px;
  }
}

.container-cards .card {
  background-color: transparent;
  height: 100%;
}
.container-cards .card .container-img img {
  height: 300px;
  -o-object-fit: cover;
     object-fit: cover;
}
.container-cards .flecha {
  background-image: url(../images/flecha.svg);
  background-repeat: no-repeat;
  height: 17px;
  width: 15px;
  margin-left: 20px;
}
.container-cards .card-body {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
}
.container-cards .card-body .button__card {
  font-size: 14px;
  transition: width 0.5s 0s ease-in, all 0.5s 0s ease-out;
  color: #21252994;
}
.container-cards .card-body .button__card:hover {
  color: #e69699;
}
.container-cards .card-body .card-title {
  font-size: 1rem;
  font-weight: bold;
}
.container-cards .card-body .text-muted {
  color: #e69699 !important;
}
.container-cards .subtitle-bestsellers {
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  display: flex;
}
@media all and (max-width: 480px) {
  .container-cards .subtitle-bestsellers {
    font-size: 14px;
  }
}
.container-cards .opacity .container-img {
  background: #181d1c;
}
.container-cards .opacity .container-img img {
  opacity: 1;
  transition: 0.3s ease-in-out;
}
.container-cards .opacity .container-img img:hover {
  opacity: 0.5;
}

.contacto {
  height: 80%;
}
.contacto .form-control, .contacto .navbar #navbarSupportedContent form .form-control:focus, .navbar #navbarSupportedContent form .contacto .form-control:focus {
  background-color: transparent;
  border: 1px solid #000000c2;
}
.contacto .button__submit {
  padding: 10px 50px 10px 50px;
  color: #181d1c;
  background-color: #e69699;
  border: none;
}
.contacto .button__reset {
  color: #181d1c;
  background-color: #e69699;
  padding: 10px 50px 10px 50px;
  border: none;
}
.contacto .form-check-input:focus {
  border: none;
  box-shadow: none;
}
.contacto .form-check-input:checked {
  background-color: #e69699;
  border-color: #bdbdbdc2;
}

.rrss-download {
  width: 400px;
}
.rrss-download .rrss-googleplay {
  background-image: url(../images/google-play.svg);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
.rrss-download .rrss-googleplay a {
  width: 64px;
  height: 64px;
}
.rrss-download .rrss-appstore {
  background-image: url(../images/app-store.svg);
  width: 64px;
  height: 64px;
  background-repeat: no-repeat;
}
.rrss-download .rrss-appstore a {
  width: 64px;
  height: 64px;
}

.footer {
  box-shadow: 3px 1px 9px 0rem #48494a5c;
}
@media all and (max-width: 480px) {
  .footer {
    justify-content: space-around !important;
  }
}
.footer p {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation: pulse;
          animation: pulse;
}
.footer .rrss {
  display: flex;
}
.footer .rrss div {
  transition: all 0.2s cubic-bezier(0.4, 0, 1, 1);
  margin: 0.5rem;
}
.footer .rrss div a {
  padding: 0.5rem;
}
.footer .rrss div:hover {
  transform: translateY(-10px);
}
@media all and (max-width: 480px) {
  .footer .rrss {
    margin-top: 20px;
  }
}
.footer .rrss .rrss-fb {
  background-image: url(../images/facebook.svg);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}
.footer .rrss .rrss-ig {
  background-image: url(../images/instagram.svg);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}
.footer .rrss .rrss-tw {
  background-image: url(../images/twitter.svg);
  width: 33px;
  height: 33px;
  background-repeat: no-repeat;
}
.footer .img-banner {
  background-image: url(../images/book.svg);
  background-repeat: no-repeat;
  width: 62px;
  height: 62px;
}

.text-focus-in {
  -webkit-animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
          animation: text-focus-in 1s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

@-webkit-keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
@keyframes text-focus-in {
  0% {
    filter: blur(12px);
    opacity: 0;
  }
  100% {
    filter: blur(0px);
    opacity: 1;
  }
}
.genres {
  height: 350px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 2px 3px;
  margin: 20px;
  transition: all 0.8s ease-in-out;
}
@media all and (max-width: 1400px) {
  .genres {
    height: 400px;
  }
}
@media all and (max-width: 1200px) {
  .genres {
    height: 500px;
  }
}
@media all and (max-width: 992px) {
  .genres {
    height: auto;
  }
}
.genres:hover {
  transform: scale(1.1);
}
.genres .genre-title {
  padding: 20px 0px 0px 20px;
  color: #e29680;
}
.genres .card-body {
  justify-content: center;
  display: flex;
  align-items: center;
}
.genres .btn-genre {
  padding: 20px;
  color: #21252994;
  text-decoration: none;
}
.genres .btn-genre:hover {
  color: #e69699;
}

.bigcard-container {
  background-color: #f8d4c7;
  padding: 40px 100px;
  box-shadow: rgba(0, 0, 0, 0.5) 0px 1px 5px;
  border-radius: 5px;
  width: 900px;
  margin: 100px auto;
}
@media all and (max-width: 992px) {
  .bigcard-container {
    padding-left: 60px;
    padding-right: 60px;
    width: auto;
    margin: 50px auto;
  }
}
@media all and (max-width: 576px) {
  .bigcard-container {
    padding-left: 40px;
    padding-right: 40px;
  }
}
@media all and (max-width: 480px) {
  .bigcard-container {
    padding: 10px 20px;
  }
}
.bigcard-container .bigcard-container-div1 {
  background-color: rgba(255, 255, 255, 0.85);
  border-radius: 5px;
  padding: 40px;
}
@media all and (max-width: 576px) {
  .bigcard-container .bigcard-container-div1 {
    padding: 20px;
  }
}
.bigcard-container .bigcard-container-div1 p {
  font-family: "Poppins", sans-serif;
}
.bigcard-container .bigcard-container-div1 a {
  text-decoration: none;
}
.bigcard-container .bigcard-container-div1 a button {
  width: 120px;
  height: 36px;
  background-color: #e69699;
  color: #fff;
  margin-top: 30px;
  justify-content: center;
  display: flex;
  border: none;
  box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
  align-items: center;
  transition: all 0.5s ease-in-out;
}
.bigcard-container .bigcard-container-div1 a button:hover {
  transform: scale(1.2);
}
@media all and (max-width: 576px) {
  .bigcard-container .bigcard-container-div1 a button {
    width: 80px;
    height: 30px;
    font-size: 12px;
  }
}
.bigcard-container .bigcard-container-div1 a p {
  font-family: "Sedgwick Ave", cursive;
  color: #e69699;
  letter-spacing: 2px;
}

.thebest-container {
  justify-content: center;
  display: flex;
}
.thebest-container .opacity .container-img {
  border-radius: 5%;
  background: #181d1c;
}
.thebest-container .opacity a {
  text-decoration: none;
}
.thebest-container .opacity a .card {
  background-color: transparent;
  border: none;
}
.thebest-container .opacity a .card img {
  height: 400px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 5%;
  opacity: 1;
  transition: 0.3s ease-in-out;
}
@media all and (max-width: 1200px) {
  .thebest-container .opacity a .card img {
    height: 300px;
  }
}
@media all and (max-width: 992px) {
  .thebest-container .opacity a .card img {
    height: 200px;
  }
}
@media all and (max-width: 767px) {
  .thebest-container .opacity a .card img {
    height: auto;
  }
}
.thebest-container .opacity a .card img:hover {
  opacity: 0.5;
}
.thebest-container .opacity a .card .card-body {
  justify-content: center;
  display: flex;
}
.thebest-container .opacity a .card .card-body .card-title {
  font-size: 1.25rem;
}

.container-kids {
  background-image: linear-gradient(to bottom, #33ccff00 64%, #000000 104%), url(../images/kidreading.jpg);
  width: 100%;
  height: 80vh;
  background-position: center;
  display: flex;
  align-items: flex-end;
}
@media all and (max-width: 1200px) {
  .container-kids {
    background-image: linear-gradient(to bottom, #33ccff00 64%, #000000 104%), url(../images/kidreading1.jpg);
    height: 60vh;
  }
}
.container-kids h1 {
  color: #fffffff2;
  font-family: "Montserrat Alternates", sans-serif;
  font-size: 70px;
  letter-spacing: 10px;
  margin-left: 100px;
}
@media all and (max-width: 1200px) {
  .container-kids h1 {
    font-size: 50px;
    letter-spacing: 6px;
    margin-left: 70px;
  }
}
@media all and (max-width: 992px) {
  .container-kids h1 {
    font-size: 30px;
    margin-left: 50px;
  }
}
@media all and (max-width: 576px) {
  .container-kids h1 {
    font-size: 1.25rem;
    margin-left: 20px;
    margin-bottom: 20px;
  }
}

.container-kids-2 {
  margin-top: 50px;
}
.container-kids-2 .row {
  padding: 20px;
}
.container-kids-2 .row h3 {
  margin-bottom: 20px;
}
.container-kids-2 .gif-kids {
  justify-content: center;
  display: flex;
}
.container-kids-2 .gif-kids img {
  max-width: 750px;
}
@media all and (max-width: 1400px) {
  .container-kids-2 .gif-kids img {
    width: 600px;
  }
}
@media all and (max-width: 1200px) {
  .container-kids-2 .gif-kids img {
    width: 500px;
  }
}
@media all and (max-width: 576px) {
  .container-kids-2 .gif-kids img {
    width: 300px;
  }
}/*# sourceMappingURL=estilos.css.map */