*{
    padding: 0;
    margin: 0;
    color: #000000c2;
    font-family: 'Mochiy Pop One', sans-serif;
}
body{
        background-color: rgb(243, 243, 243);
}
.navbar-light .navbar-toggler {
     border: none; 
}
.form-control{
    color: #21252994;
    background-color: #ffffff70;
    border-color: #1e1e1e40;
    outline: 0;
    box-shadow: 3px 5px 9px 0rem rgb(72 73 74 / 36%);
}
.btn-secondary {
    color: #ffffffbf;
    background-color: #6c757dc4;
    font-size: 14px;
}
.form-control:focus {
    color: #21252994;
    background-color: #ffffff70;
    border-color: #1e1e1e40;
    outline: 0;
    box-shadow: 3px 5px 9px 0rem rgb(72 73 74 / 36%);
}
#navbarSupportedContent form{
    width: 250px;
}
#carouselExampleCaptions .carousel-item, #carouselExampleCaptionsResponsive .carousel-item{
    max-height: 500px;
}
#carouselExampleCaptions .carousel-caption{
    text-shadow: -1px 0px 0 #d1d1d1;
    bottom: 0.25rem;
}
#carouselExampleCaptionsResponsive .carousel-caption {
    bottom: 2.25rem;
    text-shadow: -1px 0px 0 #d1d1d1;
}
.anima{
    animation-duration: 2s;
  }
.container-video iframe{
    height: 500px;
    width: -webkit-fill-available;
}
.container-video .title-container, .title__bestsellers{
    font-size: 30px;
    font-weight: 800;
    text-shadow: -1px 0px 0 #d1d1d1;
}
.text-container-video{
    font-size: 20px;
}
.info__books{
    width: 30%;
}
.card-body {
    flex: 0 1 auto;
}
.card{
    height: fit-content;
}
.container-bestsellers-list img{
    max-height: 400px;
    max-width: 300px;
}
.table__genre{
    width: fit-content;
}
.container__kids img{
    width: 500px;
    transition: all .5s ease-in-out;
}
.container__kids img:hover {
    transform: scale(1.1);
} 
.button__submit{
    color: black;
    padding: 10px 50px 10px 50px;
    border: 1px solid #bdbdbdc2;
    animation: animaButton 4s linear infinite;
    background-size: 1000% 1000%;
    background: linear-gradient(135deg, rgb(76 186 255 / 90%) 0%,rgb(209 224 235) 100%);
}
.button__submit:hover{
    background: linear-gradient(135deg, rgb(132 215 107) 0%,rgb(92 164 227) 100%);
    color: black;
    border: none;
}
.button__reset:hover {
    background: linear-gradient(135deg, rgb(76 186 255 / 90%) 0%,rgb(209 224 235) 100%);
    color: black;
    border: none;
}
.button__reset{
    background: #f7f4f4c2;
    color: #000000c2;
    padding: 10px 50px 10px 50px;
    border: 1px solid #bdbdbdc2;
}
.contacto .form-control {
    background-color: transparent;
    border: 1px solid #000000c2;
}
.contacto{
    height: 80%;
}
.form-check-input:focus {
    border: none;
    box-shadow: none;
}
.form-check-input:checked{
    background-color:rgb(92 164 227);
    border-color: #bdbdbdc2;
}
.rrss div{
    transition: all .2s cubic-bezier(0.4, 0, 1, 1);
}
.rrss div:hover {
    transform: translateY(-10px);
}
.footer p{
    animation-duration: 1s;
    animation: pulse;
}
@media all and (max-width: 1500px){
    #carouselExampleCaptions .carousel-item{
        max-height: 400px;
    }
}
@media all and (max-width: 1200px){
    #carouselExampleCaptions .carousel-item{
        max-height: 300px;
    }
    .text-container-video{
        font-size: 16px;
    }
}
@media all and (max-width: 900px){
    #carouselExampleCaptions .carousel-item{
        max-height: 200px;
    }
    .container-video .title-container-video {
        font-size: 24px;
    }
}
@media all and (max-width:480px){
    #carouselExampleCaptionsResponsive .carousel-item{
        max-height: 400px;
    }
    .footer{
        justify-content: space-around!important;
    }
    .container-video .title-container-video {
        font-size: 18px;
    }
    .text-container-video {
        font-size: 14px;
    }
    .container-video iframe {
        height: 300px;
    }
    .title__bestsellers{
        font-size: 18px;
    }
    .description{
        font-size: 14px;
    }
}