*{
    padding: 0;
    margin: 0;
    color: #000000c2;
    font-family: 'Mochiy Pop One', sans-serif;
}
body{
    background-color: rgb(255, 255, 255);
}
p{  
    line-height: $line-height;
    @media all and (max-width: 500px){
        font-size: $font-xxs;
    }
}
.navbar{
    z-index: 100;
    box-shadow: 3px 1px 9px 0rem $box-shadow;
    .navbar-toggler {
        border: $borderN; 
    }
    #navbarSupportedContent{
        form{
            width: 250px;
            .form-control{
                color: $color;
                background-color: rgba(255, 255, 255, 0.432);
                border-color: $color;
                outline: 0;
                box-shadow: 3px 5px 9px 0rem $box-shadow;
                &:focus {
                    @extend .form-control;
                }
            }
            .btn-secondary {
                color: #ffffffbf;
                background-color: $background-button;
                font-size: $font-xs;
                &:hover{
                    color: $opacity;
                    background-color: $pink;
                }
            }
        }
        .navbar-nav{
            .nav-link{
                padding-right: 1.5rem;
                padding-left: 1.5rem;
            } 
        }
    }
    .img-banner{
        background-image: url(../images/book.svg);
        background-repeat: no-repeat;
        width: 62px;
        height: 62px;
    }
}
.list-reading-books{
    align-items: center;
    h3{
        margin-bottom: 1.5rem;
        @include fonts;
        @media all and (max-width: 900px){
            font-size: 1rem;
            line-height: $line-height;
        }
    }
    p{
        line-height: 3;
        margin-bottom: 3rem;
        margin-top: 20px;
    }
    .img-readingbooks{
        @include center;
        .slide-in-fwd-center {
            animation: slide-in-fwd-center 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            @-webkit-keyframes slide-in-fwd-center {
                0%{
                    -webkit-transform: translateZ(-$point-xxl);
                    transform: translateZ(-$point-xxl);
                    opacity: 0;
                }
                100%{
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    opacity: 1;
                }
            }
            @keyframes slide-in-fwd-center{
                0%{
                    -webkit-transform: translateZ(-$point-xxl);
                    transform: translateZ(-$point-xxl);
                    opacity: 0;
                }
                100%{
                    -webkit-transform: translateZ(0);
                    transform: translateZ(0);
                    opacity: 1;
                }
            }
        }
    }
    .twobooks{
        max-height: 700px;
    }
}
.carousel-desktop{
    #carouselExampleCaptions{
        padding-top: 120px;
        .carousel-caption{
            text-align: start;
            bottom: 0.25rem;
            p, h5{
                color: #edededd9;
                font-weight: normal;
            }
        } 
        .carousel-item{
            max-height: map-get($height, l);
            img{
                display: block;
                width: 100%;
            }
            div{
                font-weight: bold;
            }
            @media all and (max-width: 1500px){
                max-height: map-get($height, m);
            }
            @media all and (max-width: $point-xl){
                max-height: map-get($height, s);
            }
            @media all and (max-width: 900px){
                max-height: map-get($height, xs);
            }
        }
    }
    .carousel-control-next, .carousel-control-prev{
        top: 100px;  
    }
    .opacity-carousel{
        background: $opacity;
        img{
            opacity: .5;
        }
    }
}
.carousel-responsive{
    #carouselExampleCaptionsResponsive{
        padding-top: 120px;
        .carousel-caption {
            bottom: 2.25rem;
            text-align: start;
            p, h5{
                color: #edededd9;
                font-weight: normal;
            }
        }
        .carousel-item{
            max-height: map-get($height, l);
            img{
                width: 100%;
            }
            @media all and (max-width: $point-xs){
                max-height: map-get($height, m);
            }
        }
    }
    .carousel-control-next, .carousel-control-prev{
        top: 100px;  
    }
    .opacity-carousel{
        background: $opacity;
        img{
            opacity: .5;
        }
    }
}
.anima{
    animation-duration: 2s;
}
.container-video{
    iframe{
        height: map-get($height, l);
        width: -webkit-fill-available;
        @media all and (max-width: $point-xs){
            height: map-get($height, s);
        }
    } 
    .title-container{
        font-size: $font-lg;
        font-weight: 800;
        text-shadow: $shadow-text;
        @media all and (max-width: $point-xs){
            font-size: $font-small;
        }
    }
    .text-container-video{
        font-size: $font-medium;
        line-height: 2.5rem;
        @media all and (max-width: $point-xl){
            font-size: 16px;
        }
        @media all and (max-width:$point-medium){
            margin-top: 30px;
        }
        @media all and (max-width: $point-xs){
            font-size: $font-xs;
        }
    }
}
.padding-section{
    padding-top: 180px;
}
.row-header-bestsellers{
    img{
        max-width: 300px;
        border-radius: 2%;
    }
    h3{
        font-size: 1.5rem;
        margin-bottom: 20px;
        @media all and (max-width: $point-medium){
            font-size: 1rem;
        }
        @media all and(max-width: $point-xs){
            font-size: $font-xs;
        }
    }
    p{
        @media all and (max-width: $point-medium){
            font-size: $font-xxs;
        }
    }
}
.description{
    margin-top: 3rem;
    @media all and (max-width: $point-xs){
        font-size: $font-xs;
    }
    h3{
        @include fonts;
        line-height: $line-height;
    }
    li{
        line-height: $line-height;
    }
}
.title__bestsellers{
    font-size: $font-lg;
    font-weight: 800;
    text-shadow: $shadow-text;
    margin-bottom: 2rem;
    @include center;
    line-height: $line-height;
    @media all and (max-width: $point-xs){
        font-size: $font-small;
    }
}
.container-cards{
    .card{
        background-color: transparent;
        height: 100%;
        .container-img{
            img{
                height: map-get($height, s);
                object-fit: cover;
            }
        }
    }
    .flecha{
        background-image: url(../images/flecha.svg);
        background-repeat: no-repeat;
        height: 17px;
        width: 15px;
        margin-left: 20px;
    }
    .card-body{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        height: 100%;
        .button__card{
            font-size: $font-xs;
            transition: width 0.5s 0s ease-in, all 0.5s 0s ease-out;
            color: $color;
            &:hover{
                color: $pink;
            }
        }
        .card-title{
            @include fonts(1rem);
        }
        .text-muted {
            color: $pink!important;
        }
    }
    .subtitle-bestsellers{
        @include fonts;
        margin-bottom: 1.5rem;
        display: flex;
        @media all and (max-width: $point-xs){
            font-size: $font-xs;
        }
    }
    .opacity{
        .container-img{
            background: $opacity;
            img {
                opacity: 1;
                -webkit-transition: .3s ease-in-out;
                transition: .3s ease-in-out;
                &:hover{
                    opacity: .5;
                }
            }
        }
    }
}
.contacto{
    height: 80%;
    .form-control {
        background-color: transparent;
        border: 1px solid #000000c2;
    }
    .button__submit{
        padding: $padding-button;
        color: $opacity;
        background-color: $pink;
        border: $borderN;
    }
    .button__reset{
        color: $opacity;
        background-color: $pink;
        padding: $padding-button;
        border: $borderN;
    }
    .form-check-input{
        &:focus {
            border: $borderN;
            box-shadow: none;
        }
        &:checked{
            background-color:$pink;
            border-color: $grey;
        }
    }
}
.rrss-download{
    width: 400px;
    .rrss-googleplay{
        background-image: url(../images/google-play.svg);
        @include rrss-dowload;
        a{
            width: 64px;
            height: 64px;
        }
    }
    .rrss-appstore{
        background-image: url(../images/app-store.svg);
        @include rrss-dowload;
        a{
            width: 64px;
            height: 64px;
        }
    }
}
.footer{
    box-shadow: 3px 1px 9px 0rem $box-shadow;
    @media all and (max-width: $point-xs){
        justify-content: space-around!important;
    }
    p{
        animation-duration: 1s;
        animation: pulse;
    }
    .rrss{
        display: flex;
        div{
            transition: all .2s cubic-bezier(0.4, 0, 1, 1);
            margin: 0.5rem;
            a{
                padding: 0.5rem;
            }
            &:hover {
                transform: translateY(-10px);
            }
        }
        @media all and (max-width: $point-xs){
            margin-top: 20px;
        }
        .rrss-fb{
            background-image: url(../images/facebook.svg);
            @include rrss;
        }
        .rrss-ig{
            background-image: url(../images/instagram.svg);
            @include rrss;
        }
        .rrss-tw{
            background-image: url(../images/twitter.svg);
            @include rrss;
        }
    }
    .img-banner{
        background-image: url(../images/book.svg);
        background-repeat: no-repeat;
        width: 62px;
        height: 62px;
    }
}
.text-focus-in{
	animation: text-focus-in 1s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}
@-webkit-keyframes text-focus-in{
    0% {
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100% {
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
@keyframes text-focus-in {
    0%{
        -webkit-filter: blur(12px);
        filter: blur(12px);
        opacity: 0;
    }
    100%{
        -webkit-filter: blur(0px);
        filter: blur(0px);
        opacity: 1;
    }
}
.genres{
    height: 350px;
    box-shadow: rgb(0 0 0 / 50%) 0px 2px 3px;
    margin: 20px;
    transition: all 0.8s ease-in-out;
    @media all and (max-width: $point-xxl){
        height: map-get($height, m);
    }
    @media all and (max-width: $point-xl){
        height: map-get($height, l);
    }
    @media all and (max-width: $point-lg){
        height: auto;
    }
    &:hover{
        transform: scale(1.1);
    }
    .genre-title{
        padding: 20px 0px 0px 20px;
        color: rgb(226, 150, 128);
    }
    .card-body{
        @include center;
        align-items: center;
    }
    .btn-genre{
        padding: 20px;
        color: $color;
        text-decoration: none;
        &:hover{
            color: $pink;
        }
    }
}
.bigcard-container{
    background-color: rgb(248, 212, 199);
    padding: 40px 100px;
    box-shadow: rgb(0 0 0 / 50%) 0px 1px 5px;
    border-radius: 5px;
    width: 900px;
    margin: 100px auto;
    @media all and(max-width: $point-lg){
        padding-left: 60px;
        padding-right: 60px;
        width: auto;
        margin: 50px auto;
    }
    @media all and (max-width:$point-sm){
        padding-left: 40px;
        padding-right: 40px;
    }
    @media all and (max-width: $point-xs){
        padding: 10px 20px;
    }
    .bigcard-container-div1{
        background-color: rgba(255, 255, 255, 0.85);
        border-radius: 5px;
        padding: 40px;
        @media all and (max-width:$point-sm){
            padding: 20px;
        }
        p{
            font-family: 'Poppins', sans-serif;
        }
        a{
            text-decoration: none;
            button{
                width: 120px;
                height: 36px;
                background-color: $pink;
                color: $white;
                margin-top: 30px;
                @include center;
                border: $borderN;
                box-shadow: 0px 3px 1px -2px rgb(0 0 0 / 20%), 0px 2px 2px 0px rgb(0 0 0 / 14%), 0px 1px 5px 0px rgb(0 0 0 / 12%);
                align-items: center;
                transition: all 0.5s ease-in-out;
                &:hover{
                    transform: scale(1.2);
                }
                @media all and (max-width:$point-sm){
                    width: 80px;
                    height: 30px;
                    font-size: $font-xxs;
                }
            }
            p{
                font-family: 'Sedgwick Ave', cursive;
                color: $pink;
                letter-spacing: 2px;
            }
        }
    }
}
.thebest-container{
    @include center;
    .opacity{
        .container-img{
            border-radius: 5%;  
            background: $opacity;          
        }
        a{
            text-decoration: none;
            .card{
                background-color: transparent;
                border: $borderN;
                img{
                    height: map-get($height, m);
                    object-fit: cover;
                    border-radius: 5%;
                    opacity: 1;
                    -webkit-transition: .3s ease-in-out;
                    transition: .3s ease-in-out;
                    @media all and (max-width: $point-xl){
                        height: map-get($height, s);
                    }
                    @media all and (max-width: $point-lg){
                        height: map-get($height, xs);
                    }
                    @media all and (max-width: $point-medium){
                        height: auto;
                    }
                    &:hover{
                        opacity: .5;
                    }
                }
                .card-body{
                    @include center;
                    .card-title{
                    font-size: $font-medium;
                    }
                }
            }
        }
    }
}
.container-kids{
    background-image: linear-gradient(to bottom, #33ccff00 64%, #000000 104%), url(../images/kidreading.jpg);
    width: 100%;
    height: 80vh;
    background-position: center;
    display: flex;
    align-items: flex-end;
    @media all and (max-width: $point-xl){
        background-image: linear-gradient(to bottom, #33ccff00 64%, #000000 104%), url(../images/kidreading1.jpg);
        height: 60vh;
    }
    h1{
        color: #fffffff2;
        font-family: 'Montserrat Alternates', sans-serif;
        font-size: 70px;
        letter-spacing: 10px;
        margin-left: 100px;
        @media all and (max-width: $point-xl){
            font-size: 50px;
            letter-spacing: 6px;
            margin-left: 70px;
        }
        @media all and (max-width: $point-lg){
            font-size: $font-lg;
            margin-left: 50px;
        }
        @media all and (max-width:$point-sm){
            font-size: $font-medium;
            margin-left: 20px;
            margin-bottom: 20px;
        }
    }
}
.container-kids-2{
    margin-top: 50px;
    .row{
        padding: 20px;
        h3{
            margin-bottom: 20px;
        }
    }
    .gif-kids{
        @include center;
        img{
            max-width: 750px;
            @media all and (max-width: $point-xxl){
                width: 600px;
            }
            @media all and (max-width: $point-xl){
                width: 500px;
            }
            @media all and (max-width: $point-sm){
                width: 300px;
            }
        }
    }
}