@mixin fonts ($font-medium: 1.25rem, $bold: bold){
    font-size: $font-medium;
    font-weight: $bold;
}
@mixin rrss {
    width: 33px;
    height: 33px;
    background-repeat: no-repeat;
}
@mixin rrss-dowload{
    width: 64px;
    height: 64px;
    background-repeat: no-repeat;
}
@mixin center{
    justify-content: center;
    display: flex;
}